* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(23, 57, 92);
}

.page-container {
  display: flex;
  height: 100vh;
}

.aside-container {
  border: 1px solid rgb(171, 171, 171);
  background-color: rgb(250, 251, 255);
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  justify-content: space-around;
  align-items: center;
  font-size: 13px;
}
.aside-header {
  padding: 5px;
  margin-top: 20px 20px;
}

.fa-solid,
.fa-regular {
  margin-right: 10px;
}

.fa-chevron-down {
  margin-left: 40px;
}

.search {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 10px;
  color: rgb(159, 165, 179);
  height: 25px;
  padding: 5px;
  margin-top: 5px;
  font-size: 10px;
  width: 100%;
  margin-top: 20px;
}

.aside-items-list {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 20px;
}

.aside-items-first {
  margin-bottom: 20px;
}

.aside-items-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.number {
  background-color: rgb(230, 30, 114);
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 1000px;
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-left: 15px;
}

#projects {
  border: 1px solid rgb(229, 235, 255);
  background-color: rgb(229, 235, 255);
  border-radius: 10px;
  padding: 3px;
  font-weight: bold;
}

.aside-items-status {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 25px;
  background-color: white;
  display: flex;
}

.name-icon img {
  margin: 10px;
}
.online {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: 8px;
}

.active {
  display: inline-flex;
}

.active .fa-circle {
  font-size: 5px;
  color: rgb(22, 203, 39);
}

.status {
  color: rgb(151, 148, 148);
  font-weight: bold;
  font-size: 5px;
}

.content-container {
  border: 1px solid rgb(171, 171, 171);
}

.avatar-container {
  display: flex;
}

.avatar {
  width: 30px; /* Adjust the size of the avatar */
  height: 30px; /* Adjust the size of the avatar */
  overflow: hidden;
  border-radius: 50%; /* Creates a circular shape */
  border: 2px solid #fff; /* Optional: Adds a white border */
  margin-left: -10px;
}

.avatar img {
  width: 100%; /* Makes the image fill the container */
  height: 100%;
  border-radius: 50%; /* Ensures the image is also circular */
  object-fit: cover; /* Maintains the aspect ratio and covers the container */
  display: block; /* Removes extra space below the image */
}
