* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  color: rgb(23, 57, 92);
}

.page-container {
  display: flex;
  height: 100vh;
  padding: 5px;
}

.aside-container {
  border: 1px solid rgb(171, 171, 171);
  background-color: rgb(250, 251, 255);
  display: flex;
  flex-direction: column;
  font-size: 10px;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 20px;
}

.aside-container ul {
  list-style: none;
}

.aside-header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px;
}

.aside-items li {
  display: flex;
  gap: 10px;
}

.search {
  display: flex;
  gap: 5px;
  align-items: center;
  border: 1px solid rgb(171, 171, 171);
  border-radius: 20px;
  color: rgb(159, 165, 179);
  height: 25px;
  padding: 5px;
  font-size: 8px;
  width: 90%;
  margin-bottom: 15px;
}

.aside-items-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.aside-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
}

.aside-items-menu {
  display: flex;
  justify-content: space-between;
  gap: 73px;
  align-items: center;
}

.number {
  background-color: rgb(230, 30, 114);
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 1000px;
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

#projects {
  background-color: rgb(229, 235, 255);
  border-radius: 10px;
  padding: 7px 0px;
  font-weight: bold;
}

.aside-items-status {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 10px;
  background-color: white;
  display: flex;
  gap: 5px;
  padding: 5px;
  width: 80%;
  margin-left: -5px;
}

.aside-items-status img {
  width: 29px;
  height: 29px;
}

.online {
  display: flex;
  flex-direction: column;
  font-weight: bold;

  font-size: 8px;
  justify-content: center;
}

.name {
  font-weight: bold;
}

.active {
  display: inline-flex;
}

.active .fa-circle {
  font-size: 4px;
  color: rgb(22, 203, 39);
  padding: 2px;
}

.status {
  color: rgb(151, 148, 148);
  font-weight: bold;
  font-size: 7px;
}

.content-container {
  border: 1px solid rgb(171, 171, 171);
  flex: 1;
}

.task {
  display: flex;
  gap: 10px;
  font-size: 11px;
  margin-top: 15px;
  padding: 10px;
  padding-bottom: 0;
}

.underlined {
  border-bottom: 1px solid rgb(3, 9, 47);
}

.heading-container {
  display: flex;

  padding: 10px;
  padding-bottom: 0;
  background-color: (249, 250, 254);
}

.title {
  display: flex;
  gap: 7px;
  font-size: 9px;
}

.title-name {
  margin-top: 3px;
  color: rgb(159, 165, 179);
  font-size: 10px;
  font-weight: bold;
}

.heading-names-icons {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  flex: 1;
  align-items: center;
}

.avatar-container {
  display: flex;
}

.avatar {
  width: 23px;
  height: 23px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-left: -5px;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.avatar-number,
.avatar-hidden {
  width: 23px;
  height: 23px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: rgb(4, 41, 79);
  color: white;
  margin-left: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
}

.ellipsis {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 1px solid rgb(41, 61, 96);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

.tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 10px;
  margin-bottom: 3px;
  border-bottom: 1.5px solid rgb(171, 171, 171);
  width: 100%;
  padding: 15px;
  padding-bottom: 0;
}

.tasks ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.tasks-menu .list {
  border-bottom: 1.5px solid rgb(3, 9, 47);
  font-weight: bold;
}

.tasks .fa-solid {
  margin: 5px;
}

.tasks-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(250, 179, 22);
  border-radius: 25px;
  background-color: rgb(250, 179, 22);
  padding: 5px;
  height: 23px;
  font-weight: bold;
  font-size: 10px;
  margin-bottom: 5px;
}

.progress-container {
  font-family: "Josefin Sans", sans-serif;
  font-size: 7px;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  padding-top: 0;
}

.not-now-container {
  border: 1.5px solid rgb(171, 171, 171);
  border-radius: 5px;
  margin-top: 5px;
}

.not-now,
.done {
  background-color: rgb(241, 241, 241);
  height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.count {
  color: rgb(151, 148, 148);
  font-size: 9px;
}

.triage-container {
  padding: 15px;
}

.triage {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  gap: 11px;
  height: 30px;
  padding: 10px;
  align-items: center;
}

.bp {
  display: flex;
  gap: 20px;
  margin-top: 9px;
}

.first-bp,
.second-bp {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.bp-title {
  font-weight: bold;
  font-size: 12px;
}

.bp-content {
  display: flex;
  gap: 10px;
  align-items: baseline;
  color: rgb(151, 148, 148);
  font-size: 7px;
  font-weight: bold;
}

.done {
  background-color: rgb(238, 249, 236);
}

.progress {
  padding: 10px;
  display: flex;
  gap: 100px;
}

.progress-heading {
  display: flex;
  gap: 10px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.progress-heading-title {
  display: flex;
  gap: 5px;
  align-items: center;
}

.figuring {
  border: 1px solid rgb(236, 246, 249);
  background-color: rgb(236, 246, 249);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.figuring-text .issue {
  margin-top: 7px;
}

.figuring-content {
  border: 1px solid rgb(171, 171, 171);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  gap: 20px;
  height: 50px;
}

.figuring-content h4 {
  font-weight: bold;
  font-size: 8px;
  margin-bottom: 7px;
}

.figuring-content p {
  color: rgb(151, 148, 148);
  font-size: 7px;
  font-weight: bold;
}

.progress-icon {
  display: flex;
  flex-direction: column;
}

.progress-number {
  background-color: rgb(30, 100, 230);
  color: white;
  width: 10px;
  height: 10px;
  border-radius: 1000px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7px;
  margin-left: 15px;
}

.hold {
  text-align: center;
  font-size: 10px;
}

.in-progress {
  background-color: rgb(229, 225, 248);
}

.waiting {
  background-color: rgb(249, 240, 225);
}
